@charset "UTF-8";


html{
	background-image: url(../images/mokume02.jpg);
	width: 100%;
}
body{
	position: relative;
	width: 1040px;
	margin-left: auto;
	margin-right: auto;
}


/* ドロップダウンメニュー */

.snav {
	display: none;
}

.dropmenu{
  *zoom: 1;
  list-style-type: none;
  width: 1030px;
  margin: 5px auto 30px;
  padding: 0;
}
.dropmenu:before, .dropmenu:after{
  content: "";
  display: table;
}
.dropmenu:after{
  clear: both;
}
.dropmenu li{
  position: relative;
  width: 19%;
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
  border-left: 1px solid #fff;
}
.dropmenu li a{
  display: block;
  margin: 0;
  padding: 15px 0 11px;
  background: rgba(10,10,10,0.7);
  color: #fff;
  font-size: 14px;
  line-height: 1;
  text-decoration: none;
  font-size: 105%;
  font-family: "HG正楷書体-PRO","HGP行書体",cursive, Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", sans-serif;
}
.dropmenu li ul{
  list-style: none;
  position: absolute;
  z-index: 999;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
}
.dropmenu li ul li{
  width: 100%;
}
.dropmenu li ul li a{
  padding: 13px 15px;
  border-top: 1px solid rgba(10,10,10,0.5);
  background: rgba(10,10,10,0.7);
  text-align: left;
}
.dropmenu li:hover > a{
  background: rgba(10,10,10,0.5)
}
.dropmenu li a:hover{
  background: rgba(10,10,10,0.9);
}

li ul{
  opacity: 0;
  top: 0%;
  visibility: hidden;
  transition: .3s;
  perspective: 400px;
}
li:hover ul{
  top: 100%;
  visibility: visible;
  opacity: 1;
} 

li:hover li{
  transform: rotateY(0);
}
ul li:nth-child(2) {
  transition-delay: .1s;
}
ul li:nth-child(3) {
  transition-delay: .2s;
}
ul li:nth-child(4) {
  transition-delay: .3s;
}
ul li:nth-child(5) {
  transition-delay: .4s;
}

/* ドロップダウンメニューf */

.twitter02 {
	display: block;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}
.imgtwitter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}
h1 {
	text-shadow: #eee 1px 2px;
	color: #000;
	font-family: "HG正楷書体-PRO","HGP行書体",cursive, Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", sans-serif;
}
h2 {
	color: #fff;
	text-align: center;
	text-shadow: #000 2px 2px;
	font-family: "HG正楷書体-PRO","HGP行書体",cursive, Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", sans-serif;
}
h3 {
	color: #fff;
	text-shadow: #000 1px 1px;
	text-align: center;
	font-family: "HG正楷書体-PRO","HGP行書体",cursive, Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", sans-serif;
}
h4{
	color: #fff;
	text-shadow: #000 1px 1px;
}
.artlog h3, .banner h3 ,.twitter02 h3 {
	color: #000;
	text-shadow: #fff 1px 1px;
	text-align: center;
}
main {
	display: block;
	margin-top: 20px;
	width: 730px;
	float: left;
}
.update, .art {
	border: solid 2px;
	border-radius: 15px;
	overflow: hidden;
	margin-left: 3px;
	margin-right: auto;
	padding: 10px;
	font-family: Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", sans-serif;
}
.update {
	background-color: rgba(10,10,10,0.7);
}
.art {
	background-color: rgba(10,10,10,0.4);
	margin-top: 20px;
}


main p {
	color: #fff;
}
footer {
	clear: left;
	text-align: center;
	color: #fff;
	margin-top: 15px;
}
.topbutton{
	display: block;
	padding: 5px 20px;
}
.redword {
	color: #f00;
	font-size: 120%;
	text-shadow: 1px 1px 0 #e00;
}

.halfbanner {
	display: block;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}
.inban {
	font-weight: bold;
	text-shadow: #fff 1px 1px;
	text-size: 150%;
	text-align: center;
}

.side {
	width: 300px;
	float: left;
	margin-top: 20px;
	margin-left: 5px;
}

.twitter-timeline {
	background-color: rgba(10,10,10,0.5);
}

.artlog {
	border-bottom: 2px solid #000;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}
.artlog li {
	border-bottom: 1px solid #000;
	width: 80%;
	list-style: none;
}

/* ページトップへスクロール */
#pageTop {
  position: fixed;
  bottom: 15px;
  right: 15px;
}
#pageTop a {
  display: block;
  z-index: 999;
	padding: 9px 0 0 11px;
  border-radius: 10px;
  width: 30px;
  height: 30px;
  background-color: #8e8;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.7;
}
#pageTop a:hover {
  text-decoration: none;
  opacity: 1;
}
.keshi {
	font-size: small;
	text-decoration: line-through;
}


/* google map */

.googlemap, #gmap {
	display: block;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
